body, .marc_activitat {
    background: var(--white) !important;
}

.no-inscrit {
    height: calc(100vh - 72px);
}

.prisma-header {
    background: var(--bg-tutoria-1);
}

a {
    color: #526b3e;
    font-weight: bold;
}

a:hover {
    color: var(--text-tutoria-table);
    text-decoration: none;
}

label.active {
    font-weight: bold;
    font-size: 0.95rem;
    background: none;
}

h1 {
    font-size: 2.14rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 3rem;
    margin-top: 2rem;
    position: relative;
    text-align: left;
    width: 100%
}

h1:before {
    border-bottom: 3px solid #a3be8d;
    bottom: -10px;
    content: "";
    left: 0;
    transform: scaleX(1);
    transition: all .3s ease-in-out;
    width: 70px;
    position: absolute;
}

.table.table-header thead tr {
    background: var(--bg-tutoria-1);
    color: var(--white);
}

.table-striped tbody tr:nth-of-type(odd) {
    background: rgb(163 190 141 / 10%);
}

.table-hover tbody tr:hover {
    background: rgb(163 190 141 / 25%);
}

.table tr {
    border: 1px solid #ccc;
}

.table thead tr {
    color: var(--text-tutoria-table);
    background: var(--bg-tutoria-2);
    font-weight: bold;
}

/* .marc_activitat > .container {
    box-shadow: 0px 0px 30px -10px #565454;
} */

.table tr p {
    margin-bottom: 0 !important;
}

.table td, .table th {
    vertical-align: middle;
}

.table td:nth-child(2) {
    text-align: center;
}

td button {
    margin: 0 auto;
}

.element-cercat-marcat {
    border-bottom: 2px solid var(--orangeText1);
}

.btn-group {
    background: #eee;
    border-radius: 25px;
}
.btn-group .btn-switch {
    border-radius: 25px;
    background: #eee;
    border-radius: 25px;
    padding: 10px 15px;
    border: 1px solid #ccc;
}

.btn-group .no-revisat.active {
    background: rgb(201 69 81 / 40%);
    border: 1px solid var(--color-botons-edicio);
    font-weight: bold;
    color: #71121b;
}

.btn-group .revisat.active {
    background: var(--lightBlueOpacity2);
    border: 1px solid var(--lightGrayOpacity2);
    font-weight: bold;
    color: var(--darkBlue);
    background: rgb(93 116 93 / 30%);
    color: var(--text-tutoria-table);
}

label.active {
    transform: translateY(-17px);
    padding: 0;
}
