<!DOCTYPE html>
<html lang="ca">

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <title>xxxxx</title>
   <style>
      a:hover {
         color: #2d436f !important;
      }

      a.cta:hover {
         background-color: #2d436f !important;
      }
   </style>
</head>

<body style="color:#424242; font-family:Arial, sans-serif !important; font-size:17px; line-height:1.8; text-align:center;">
   <div style="width:100%; max-width:680px; margin:0 auto; text-align:center; color:#424242; font-family:Arial, sans-serif !important; font-size:17px; line-height:1.8; text-align:center;">

      <div style="width: 100%">
         <p style="text-align:center; margin-bottom: 0;">
            <a class="pris" href="https://www.prisma.cat/cursos" target="_blank" title="PrisMa formació permanent del professorat" alt="PrisMa formació permanent del professorat" style="text-decoration:none">
               <img src="https://www.prisma.cat/documents/imatges/mailings/logo-prisma.png" style="max-width: 130px" border="0" title="logo PrisMa" alt="logo PrisMa">
            </a><br>
            <span style="color: #7d94bf; font-family: Arial, Verdana, Helvetica, serif; font-size: 16px;">Formació psicopedagògica</span>
         </p>
      </div>
      <div style="width: 100%">
         <a class="pris" href="https://www.prisma.cat" target="_blank" title="PrisMa formació permanent del professorat" alt="PrisMa formació permanent del professorat" style="text-decoration:none">
            <p style="text-align:center; margin-bottom: 30px; margin-top: 4px;">
               <span style="color: #7d94bf; padding: 3px 8px; border: 1px solid #7d94bf; font-size: 14px">www.prisma.cat</span>
            </p>
         </a>
         <p style="margin: 20px;font-size: 27px; font-weight:bold; text-align:center; font-family:Courier New; color:#716d6d">Més de 20 anys al vostre costat</p>
      </div>

      <!-- Banner principal -->
      <div style="width: 100%; margin-bottom: 20px">
         <p>
            <a href="https://shop.prisma.cat/?utm_source=banner-newsletter&amp;utm_medium=email&amp;utm_campaign=sant-jordi-2026" target="_blank" title="Cliqueu aquí" name="Cliqueu aquí">
               <img style="width: 100%; border-radius: 15px" src="https://www.prisma.cat/documents/imatges/mailings/sant-jordi-2026.png" alt="xxxx">
            </a>
         </p>
         <p style="font-size:22px; font-weight:700; margin-bottom:15px;">Aquest Sant Jordi, regala inspiració que floreix tot el curs 🌹</p>
      </div>

      <!-- INTRODUCCIÓ -->
      <p>Sant Jordi és llibres.</p>

      <p>Però també és mirada pedagògica, conversa i reflexió.</p>

      <p>Per això, aquests dies a la botiga de PrisMa hi trobaràs <strong>descomptes especials en llibres d’educació</strong> per celebrar aquesta diada com cal.</p>

      <div style="background-color:aliceblue; border: 1px solid #cddbe7; padding:10px 20px; margin-bottom:15px; border-radius:10px; text-align:center; color:#424242; margin-top: 20px;">
         <p style="font-size:18px; font-weight:700; margin-bottom:15px;">🎁 📚 Descompte especial en tots els llibres d'educació</p>

         <p>Durant aquests dies, gaudeix de <strong>descomptes especials en tots els nostres llibres d’educació</strong>!</p>
         <p><strong>🚚 Enviament gratuït en totes les compres fetes a la botiga <em>on-line</em> de PrisMa</strong></p>
         <p><strong style="color: #b84753;">📅 Promoció disponible fins al 23 d'abril 🛒</strong><br></p>
      </div>
      <p style="font-size:18px; font-weight:700; margin-bottom:15px;">✨ I encara hi ha més…</p>

      <p><strong>A partir d'avui</strong>, podràs participar en el <strong>sorteig d’un curs de 30 o 40 hores a escollir</strong>!</p>

      <p>Formació reconeguda, aplicable a l’aula i totalment gratuïta.</p>

      <p>Segueix-nos a <a style="color:#506899;font-weight:bold;text-decoration:none" href="https://www.instagram.com/prisma.formacio/" target="_blank">@prisma.educacio</a> i no perdis cap detall del sorteig.</p>

      <p><strong>Descobreix els llibres amb descompte abans que arribi Sant Jordi.</strong></p>

      <p>
         <a href="https://shop.prisma.cat?utm_source=banner-newsletter&amp;utm_medium=email&amp;utm_campaign=sant-jordi-2026" target="_blank" class="cta"
            style="display: inline-block;background-color: #506899;color: #fff !important;text-decoration: none;padding: 10px 20px;border-radius: 20px;font-weight: bold;font-size: 17px;">
            Descobreix els llibres →
         </a>
      </p>

      <p>Alguns regalen roses.<br>
         Altres regalen llibres.<br>
         Tu pots regalar eines que floreixen tot l’any.</p>
   </div>

   <div style="background-color: #eff1f7; color: #545d73; text-align:center; padding: 20px 0 10px 0;">
      <div style="width:680px;margin:0 auto">
         <p style="margin:0 20px 20px 20px">Trobareu m&eacute;s informaci&oacute; sobre els cursos (dates, preus, forma de pagament, possibilitat de pagament fraccionat sense recàrrec, etc.) i us hi podreu
            inscriure a <a style="color: #506899; text-decoration:none;" href="https://www.prisma.cat/cursos?utm_source=link-newsletter&utm_medium=email&utm_campaign=sant-jordi-2026" target="_blank">www.prisma.cat</a>.</p>
         <p style="margin:0 20px 20px 20px">Esperem que aquest correu electrònic sigui del vostre interès.</p>
      </div>
   </div>

   <div style="background-color: #e3e9f7; color: #403f3f; text-align:center; padding: 20px 0 10px 0;">
      <div style="width:680px; margin: 0 auto">
         <div style="width: 370px; margin: 0 auto; border-bottom: 1px solid #7a7a7b; margin-bottom: 25px;">
            <span style="font-family:Arial, sans-serif, Verdana, Helvetica; font-size:13px; padding-top:20px"><strong style="font-size: 16px">PrisMa Formaci&oacute;</strong><br />
               972 21 75 65 - 678 123 687<br />

               <a href="https://www.prisma.cat?utm_source=newsletter&utm_medium=email&utm_campaign=sant-jordi-2026" target="_blank" style="font-size: 16px; font-weight: bold; color: #403f3f; text-decoration:none;">www.prisma.cat</a></span>

            <p style="margin: 0px;padding-top: 15px;padding-bottom: 25px;">
               <a title="Instagram" name="Instagram" href="https://www.instagram.com/prisma.educacio/" target="_blank"><img border="0" src="https://www.prisma.cat/documents/imatges/mailings/general/instagram.png" width="35"
                     style="margin-right: 20px;" alt="Instagram"></a>
               <a title="YouTube" name="YouTube" href="https://www.youtube.com/channel/UCy5M8DYXgHm5IjI4MIUCXqg" target="_blank"><img border="0" src="https://www.prisma.cat/documents/imatges/mailings/general/youtube.png" width="35"
                     style="margin-right: 20px;" alt="Youtube"></a>
               <a title="X" name="X" href="https://x.com/PrisMaFormacio" target="_blank"><img border="0" src="https://www.prisma.cat/documents/imatges/mailings/general/x.png" width="35" style="margin-right: 20px;" alt="X"></a>
               <a title="Facebook" name="Facebook" href="https://www.facebook.com/PrisMaFormacio/" target="_blank"><img border="0" src="https://www.prisma.cat/documents/imatges/mailings/general/facebook.png" width="35" style="margin-right: 20px;"
                     alt="Facebook"></a>
               <a title="TikTok" name="TikTok" href="https://www.tiktok.com/@prisma.educacio" target="_blank"><img border="0" src="https://www.prisma.cat/documents/imatges/mailings/general/tiktok.png" width="35" alt="TikTok"></a>
            </p>
         </div>
         <p style="font-family:Arial, sans-serif, Verdana, Helvetica; font-size:11px; margin-left: 10px; margin-right: 10px; color: #757575; text-align:center">
            Aquest missatge es dirigeix exclusivament al seu destinatari. D'acord amb la normativa vigent en el Reglament Europeu de Protecci&oacute; de Dades 2016/679 dins de tota la Uni&oacute; Europea (RGPD) i en la Llei Org&agrave;nica
            15/1999 de Protecci&oacute; de Dades de Car&agrave;cter Personal (LOPD), us informem que les vostres adreces electr&ograve;niques estan incorporades al nostre fitxer amb la finalitat d'informar-vos dels nostres cursos i serveis
            mitjan&ccedil;ant el correu electr&ograve;nic. En qualsevol moment podeu donar-vos de baixa del nostre butllet&iacute; electr&ograve;nic, aix&iacute; com exercir els vostres drets d'acc&eacute;s, rectificaci&oacute;,
            cancel&middot;laci&oacute; i oposici&oacute;, en els termes establerts legalment, escrivint a l'Associaci&oacute; per al Desenvolupament Infantil i Familiar PrisMa a atencio.usuari@prisma.cat. Consulta l'<a
               href="https://www.prisma.cat/avis-legal" target="_blank" style="color: #7e94c0; text-decoration:none;">Av&iacute;s legal</a> per a m&eacute;s informaci&oacute;.</p>

         <p style="font-family:Arial, sans-serif, Verdana, Helvetica; font-size:11px; margin-left: 10px; margin-right: 10px; color: #757575; text-align:center">Si no voleu rebre els correus informatius de PrisMa, responeu aquest missatge
            escrivint <span style="color:#FF0000; font-weight:bold;">BAIXA</span> en l'assumpte.<br>

            I si coneixeu alg&uacute; que cregueu que pot estar interessat en el tema, per favor, <span style="color:#006600; font-weight:bold;">REENVIEU-LI</span> el missatge.<br>

            Gr&agrave;cies per la vostra col&middot;laboraci&oacute;!
         </p>
      </div>
   </div>
</body>

</html>