.llegenda {
    border: 1px solid #b7c8e2;
    padding: 10px;
    background: #f7faff;
}

.table tr .validat i {
    color: white
}

/* .descompte-valid.lightGreen {
    color: #
}
.descompte-valid.lightRed {
    color: #
} */
