label.check {
    font-weight: bold;
}

label.check i {
    color: white !important;
}

.developer table {
   border: 1px solid #d0c1f1;
}
.developer table th,
.developer label.check {
    background: #6d55a0;
    color: white;
}

.mrkt table {
   border: 1px solid #ffbfe4;
}
.mrkt table th,
.mrkt label.check {
    background: #ad0065;
    color: white;
}

.mailing table {
   border: 1px solid #ffb4e3;
}
.mailing table th,
.mailing label.check {
    background: #c73a92;
    color: white;
}

.xs table {
   border: 1px solid #c6fcff;
}
.xs table th,
.xs label.check {
    background: #26a5ac;
    color: white;
}



label.mailing {
    background: #d7409f;
}

label.xs {
    background: #26a5ac;
}

label.intra {
    background: #8873b5;
}

label.intra_alumn {
    background: #b87500;
}

label.intra_tut {
    background: #0f9075;
}

label.mdl {
    background: #a4ac2e;
}

label.mrkt {
    background: #ad0065;
}

label.web {
    background: #1095cb;
}

label.cursos {
    background: #3D5A92;
}

label.botiga {
    background: #e77001;
}

label.slider {
    background: #01bb6d;
}

label.prio-1 {
    background: #b00020;
}
label.prio-2 {
    background: #b6145b;
}
label.prio-3 {
    background: #d16419;
}
label.prio-4 {
    background: #14b6a1;
}
label.prio-0 {
    background: #6d8aa5;
}

tr td:nth-child(1) {
    min-width: 220px;
}

tr td:nth-child(2) {
    min-width: 155px;
}

tr td:nth-child(2) {
    font-weight: bold;
}

tr td:nth-child(4) {
    min-width: 170px;
}

#fets tr td:nth-child(5) {
   min-width: 110px;
}
#fets tr td:nth-child(6) {
   min-width: 160px;
}

.table tbody tr.dataPassada td  {
   font-weight: bold;
}
.table tbody tr.diaVista td > div > div.desc-fila {
   font-weight:bold;
}
label.check {
    font-weight: bold;
    background: var(--blauPrisma);
    color: white;
}

label.check i {
    color: white !important;
}

@media screen and (min-width: 1200px) {
  .table tbody tr.dataPassada td  {
     color: #ff0945;
  }
  .table tbody tr.diaVista td > div > div.desc-fila {
     color: #c7095b;
  }
  .table tbody tr.setmanaVista td > div > div.desc-fila {
     color: #ff7600;
  }
  .table tbody tr.dosSetmanesVista td > div > div.desc-fila {
     color: #516dbf;
  }
}
@media screen and (max-width: 1200px) {
    .table.table-xl-responsive tr td > div:hover > div {
      background: #dce4f6 !important
   }
   .table.table-xl-responsive tr>td > div > div.desc-fila,
   .table.table-xl-responsive tr:nth-of-type(odd)>td > div > div.desc-fila {
      background-color: white;
   }
   .table.table-xl-responsive tr td > div > div:nth-child(1) {
      background: var(--lightBlue2);
   }

   .table.table-xl-responsive tbody tr.dataPassada td > div > div.titol-fila,
   .table.table-xl-responsive tbody tr.diaVista td > div > div.titol-fila {
      background: #ffebf5;
  }
    .table.table-xl-responsive tr.dataPassada,
   .table.table-xl-responsive tr.dataPassada td,
   .table.table-xl-responsive tr.diaVista,
   .table.table-xl-responsive tr.diaVista td  {
        border-color: #f5bdd9;
    }
    .table.table-xl-responsive tr.dataPassada td > div:hover > div,
    .table.table-xl-responsive tr.diaVista td > div:hover > div {
        background: #fedeed !important
    }

    .table.table-xl-responsive tbody tr.dataPassada td > div > div.desc-fila,
    .table.table-xl-responsive tbody tr.diaVista td > div > div.desc-fila,
    .table.table-xl-responsive tbody tr.setmanaVista td > div > div.desc-fila,
    .table.table-xl-responsive tbody tr.dosSetmanesVista td > div > div.desc-fila {
        background: white;
    }
    .table.table-xl-responsive tr td > div > div {
        border-top: 0;
    }

    .table.table-xl-responsive tbody tr.setmanaVista td > div > div.titol-fila {
         background: #f9e3d0;
     }
     .table.table-xl-responsive tr.setmanaVista,
     .table.table-xl-responsive tr.setmanaVista td {
         border-color: #ff7600;
     }
     .table.table-xl-responsive tr.setmanaVista td > div:hover > div {
         background: #f9caa2 !important
     }

     .table.table-xl-responsive tbody tr.dosSetmanesVista td > div > div.titol-fila {
         background: #d7e1fe;
     }
     .table.table-xl-responsive tr.dosSetmanesVista,
     .table.table-xl-responsive tr.dosSetmanesVista td {
         border-color: #516dbf;
     }
     .table.table-xl-responsive tr.dosSetmanesVista td > div:hover > div {
         background: #afc3ff !important
     }
}
