.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #496BAA;
    --bs-btn-border-color: #496BAA;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #3D5A92;
    --bs-btn-hover-border-color: #22488C;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #22488C;
    --bs-btn-active-border-color: #3D5A92;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #496BAA;
    --bs-btn-disabled-border-color: #496BAA
}

.table-striped>tbody>tr.text-danger:nth-of-type(odd)>*,
.table-striped>tbody>tr.text-danger:nth-of-type(even)>* {
	color: var(--redText1) !important;
}
.table-striped>tbody>tr.text-alert:nth-of-type(even)>*,
.table-striped>tbody>tr.text-alert:nth-of-type(odd)>*,
.table-striped>tbody>tr.text-warning:nth-of-type(even)>*,
.table-striped>tbody>tr.text-warning:nth-of-type(odd)>* {
	color: var(--orangeText1) !important;
}

li.breadcrumb-item {
    color: var(--darkBlue);
    font-size: 1.5rem;
    font-weight: 500;
}
a[data-ns-toggle=collapse][aria-expanded=true] .caret {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.sidebar.active .sidebar-wrapper .user .user-info [data-bs-toggle=collapse]~div>ul>li>a .sidebar-mini,
.sidebar.active .sidebar-wrapper>.nav [data-bs-toggle=collapse]~div>ul>li>a .sidebar-mini {
	display: inherit;
	float: left;
	letter-spacing: 1px;
	margin-right: 10px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	width: 48px;
	height: auto;
}
.sidebar.active .sidebar-wrapper .user .user-info [data-bs-toggle=collapse]~div>ul>li>a .sidebar-normal,
.sidebar.active .sidebar-wrapper>.nav [data-bs-toggle=collapse]~div>ul>li>a .sidebar-normal {
	display: block;
	margin: 0;
	position: relative;
	opacity: 1;
	white-space: nowrap;
	width: auto;
	height: auto;
}
.sidebar .nav .nav-item.active>a:not([data-bs-toggle=collapse]) {
	/* color: var(--darkBlue); */
	color: var(--darkGray2);
	box-shadow: 0 4px 20px 0 var(--lightGrayOpacity2), 0 7px 10px -5px var(--lightBlueOpacity1);
	opacity: 1;
	text-align: center;
}
a {
   text-decoration: none;
}
