label.tipus.frase
{
    background: #8b388c;
}

label.tipus.inici
{
    background: #a62f47;
}

label.tipus.edicio
{
    background: #906c3d;
}

label.tipus.publi-prisma
{
    background: #4a81a4;
}

label.tipus.publi-consell
{
    background: #1e9589;
}

label.tipus.publi-humor
{
    background: #618813;
}
