a {
	color: var(--color-prisma);
}

body {
	background-image: url('https://www.prisma.cat/documents/imatges/fons/activitats.png');
	font-family: Roboto, 'Arial', sans-serif;
	text-align: justify;
}

body>.row {
	align-items: center;
	display: flex;
	margin-left: 0;
	margin-right: 0;
	overflow: hidden;
	padding: 0;
}

.capcalera {
	height: 30%;
}

.marc_activitat, .marc_activitat_error {
	margin: 0;
	width: 70%;
}

.marc_activitat {
	padding: 0;
	width: 100%;
}

.marc_activitat_error {
	background-color: var(--white);
	border: 1px solid var(--border-light-gray);
	height: 440px;
	margin: 30px auto;
	padding: 0 25px 10px 0;
	width: 70%;
}

.marc_activitat {
    background-image: url(https://www.prisma.cat/documents/imatges/fons/activitats.png);
}

.peu {
	color: var(--color-peu-login);
}

a.navegador{
	color: var(--color-curs-login);
	font-weight: bold;
	padding: 0;
}

.peu a {
	color: var(--color-peu-login);
}

a.navegador:hover, .peu a:hover{
	color: var(--link-hover-login);
}

.cos_error {
	padding-bottom: 20px;
	padding-top: 11px;
}

.cos_error, .peu {
	text-align: center;
}

.marc-treball {
	background-color: var(--bg-marc-treball);
	border: 1px solid var(--color-cnv);
	margin-top: 91px;
	padding: 17px 12px;
}

.punt {
	background: inherit;
}
