.page-404-content {
	overflow: hidden;
	padding-bottom: 90px;
	padding-top: 110px
}

.page-404-content h1 {
	color: var(--text-blue-link);
	font-size: 3.33rem;
	letter-spacing: 10px;
	overflow: hidden
}

.page-404-content h2 {
	font-size: 3rem;
}

.page-404-content p {
	font-size: 1.33rem;
	line-height: 1.5;
	margin-bottom: 50px;
}
