/* #################### ESTRUCTURA GENERAL #################### */
h2 {
	line-height: 2.33rem;
	margin-bottom: 1.5rem;
	padding-top: 0rem;
}

.diversitat {
	color: var(--text-diversitat);
}

.immersio {
	color: var(--text-immersio);
}

.biblioteca {
	color: var(--text-biblioteca);
}

.plastica {
	color: var(--text-plastica);
}

.competencia_digital {
	color: var(--text-competencia);
}

.metodes {
	color: var(--text-metodes);
}

hr {
	margin: 1rem auto;
}

/* #################### CONTENIDOR CURSOS AMB cdd #################### */

.cursos-cdd {
	background: var(--bg-body-destacat-color);
}

.titol-dd {
	line-height: 2rem;
}

.cnt-icona-titol {
	display: inline-block;
	height: 1rem;
}

.cnt-icona-titol i.fas.fa-square.titol {
	font-size: 0.47rem;
	margin-right: 0.33rem;
	margin-top: 0.4rem;
}

/* ********************   BLOC UN CURS AMB cdd   ******************** */

.curs-cdd-container {
	background-color: var(--borders-hover);
	border: 1px solid var(--borders);
}

.curs-cdd-container:hover {
	border: 1px solid var(--borders-hover);
	box-shadow: var(--box-shadow-curs) 0 0 10px;
}

.curs-cdd {
	background: var(--bg-white);
}

.curs-cdd .nou {
  font-size: 1rem;
  margin-top: 0;
  padding: 3px 8px;
}

.curs-cdd .nou.cdd {
    background: var(----bg-cdd) !important;
}

.curs-dd a h4 {
	font-size: 1.27rem;
	line-height: 1.8rem;
}

.curs-cdd .event-schedule {
	line-height: 1.87rem;
}

.prisma-cdd-overlay {
	height: 130px;
}

.curs-cdd-container:hover .prisma-cdd-overlay {
	opacity: .8;
}

.prisma-cdd-overlay img {
	backface-visibility: hidden;
	display: block;
	cursor: pointer;
	object-fit: cover;
	opacity: 1;
	transition: .5s ease;
}

.prisma-cdd-overlay .prisma-cdd-middle {
	left: 50%;
	opacity: 0;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transition: .5s ease;
}

.curs-cdd-container:hover .prisma-cdd-middle {
	opacity: 1;
}

.prisma-cdd-overlay .prisma-cdd-middle button {
	background-color: var(--bg-black);
	border: 1px solid var(--bg-black);
	color: var(--bg-white);
	outline: none;
	padding: 0.13rem 0.73rem;
	transition: all 0.3s ease;
}

@media screen and (min-width: 768px)  {
	.curs-cdd {
		border: 0;
	}
	.prisma-cdd-overlay {
		height: auto;
	}
}

/* #################### CONTENIDOR PREGUNTES #################### */
.atri{
	margin-top: 1rem;
	width: 100%;
}

@media screen and (min-width: 768px)  {
	.atri {
		max-width: 815px;
	}
}
