/* ##############        GENERAL        ############## */

.prisma-footer {
	background: var(--bg-footer);
	font-size: .93rem;
	line-height: 25px;
	padding-top: 0
}

.prisma-footer .footer-info,
.prisma-footer .cnt-footer {
	border-top: 1px solid var(--border-footer);
}

/* ##############         FRASE         ############## */

.prisma-footer .recon {
	font-family: 'Roboto', sans-serif;
	font-size: 1.30rem;
	line-height: 30px;
	margin-bottom: 0;
	padding: 8px 10px;
}

/* ##############       APARTATS        ############## */
.prisma-footer .seccio {
	font-family: 'Dosis', 'Roboto', sans-serif;
	line-height: 30px;
	padding-top: 10px;
	text-transform: uppercase
}

.prisma-footer .seccio.titol {
	margin-bottom: 0
}

.prisma-footer .accordion-footer {
	background: none;
	padding-left: 0
}

.prisma-footer .accordion-footer.seccio {
	cursor: auto
}

.prisma-footer .panel {
	-webkit-box-shadow: none;
	background: none;
	box-shadow: none;
	margin-bottom: 0
}

.prisma-footer ul {
	list-style: none;
	padding: 0
}

.prisma-footer ul li a {
	color: var(--text-footer) !important
}

.prisma-footer ul li a:hover {
	color: var(--text-hover-footer) !important;
}

.associacio {
	margin-top: 20px
}

.prisma-footer .fa-map-marker-alt {
	margin-right: 6px
}

.prisma-footer .fa-phone {
	font-size: .8rem;
	margin-right: 5px;
	transform: rotate(90deg)
}

.prisma-footer .fa-mobile-phone {
	font-size: .9rem;
	margin-right: 8px
}

.prisma-footer .fa-whatsapp {
	margin-right: 4px
}

.prisma-footer .whats {
	color: var(--text-dark-gray) !important;
}

.prisma-footer .whats:hover {
	color: var(--text-blue-link) !important;
}

/* ##############       CALENDARI       ############## */
.calendari {
  margin-top: 20px;
  margin-right: 35px;
}

.index-events .calendari:nth-child(2) {
  margin-top: 7px;
}

.calendari .data {
  background-color: var(--bg-body-color);
  border: 1px solid var(--border-footer-media);
  color: var(--text-footer-frase);
  flex: 1;
  margin-right: 15px;
  padding: 9px 10px;
  text-align: center;
}
.prisma-footer .calendari span:nth-child(1) {
  font-size: 1.67rem;
}

.prisma-footer .calendari a:hover .color-footer {
	color: var(--text-hover-footer);
}

p.calendar {
	line-height: 1.5;
	margin-top: 7px
}

/* ##############       BUTLLETI       ############## */
.prisma-footer .form-footer {
	border: 1px solid var(--border-footer-media);
	margin-top: 7px;
}

.prisma-footer .news {
	border-left: 1px solid var(--border-footer-media);
	height: 35px
}

.prisma-footer .news .fa-envelope:before {
	font-size: 1.1rem
}

.prisma-footer .form-control {
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	height: 35px;
	width: 100%
}

.prisma-footer label {
	color: var(--color-label-input);
	padding-left: 15px;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
	transition: all 0.25s ease;
	-webkit-backface-visibility: hidden
}

.prisma-footer label.active {
	display: none
}


/* ##############        XARXES        ############## */
.xarxes > div:hover {
	background: var(--text-hover-footer);
	cursor: pointer;
}

.xarxes > div {
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	background: var(--text-footer);
	border-radius: 50%;
	height: 35px;
	outline: none;
	transition: all .3s ease;
	width: 35px
}

.xarxes > div > a {
	font-size: .87rem;
	line-height: 35px
}

.xarxes > div > a > i {
	color: var(--bg-footer);
	font-size: 1.27rem
}



@media screen and (max-width: 600px) {
	.accordion-footer {
		cursor: pointer;
		height: 45px;
		outline: none;
		padding: 0;
		transition: 0.4s;
		width: 100%;
	}

	.prisma-footer-content .seccio {
		text-align: left;
	}

	.accordion-footer:after {
		content: '\f078';
		font-family: 'Font Awesome 5 Free';
		font-size: .87rem;
		float: right;
		margin-left: 5px
	}

	.accordion-footer.active:after {
		content: "\f077";
		font-family: 'Font Awesome 5 Free'
	}
}

.xarxes>div.no-xarxes{background:none;height:auto;width:auto}






















.cntCookies {
	align-items: center;
	background-color: var(	--text-gris-active);
	bottom: 0px;
	box-shadow: var(--box-shadow-curs) 0 0 10px;
	color: var(--bg-white);
	display: flex;
	font-family: 'Roboto';
	font-size: 1rem;
	justify-content: center;
	line-height: 20px;
	margin-bottom: 0px;
	padding: 10px;
	position: fixed;
	width: 100%;
	z-index: 200;
	text-align: center;
}

.cntCookies p {
  margin: 0;
}

.cntCookies button {
  background: var(--text-blue-link);
  border: 0;
  color: var(--bg-white);
  margin-left: 20px;
  padding: 8px 20px;
}

.cntCookies a {
  color: #FBFBFB;
  font-weight: bold;
}

.cntCookies a:hover {
  color: var(--text-hover-capcalera);
}

.cntCookies button {
  background: var(--bg-body-destacat-color);
  color: var(--text-dark-gray);
}
