.nav-tabs>li {
    width: 20%;
}

.video-responsive {
	margin-bottom: 16px;
	margin-top: 6px;
}

.f-auto {
	flex: auto;
}

.programa.h3,
.objectius.h3 {
  font-size: 1.2rem;
}

.tatxat {
	text-decoration: line-through;
}

.info-titol .pack {
  background: var(--bg-packs);
}

@media screen and (max-width:992px){
	.sticky-sidebar{height: 507px!important;}
}

.info-banner .etiquetaPack {
  margin: 0;
  border-right: 35px solid transparent;
  border-left: 35px solid transparent;
  border-bottom: 35px solid var(--bg-black);
  transform: rotate(-45deg);
  font-size: 19px;
  padding-left: 55px;
  left: -30px;
  top: 15px;
}

.info-banner .etiquetaPack > .nom {
  color: var(--bg-white);
  font-family: Roboto,sans-serif;
  font-size: 19px;
  position: absolute;
  left: 6px;
  top: 6px;
}

.modal-body .etiquetaPack {
  left: -26px;
  top: 3px;
}

.noComencat.promocio>.border {
    width: 130px;
}

.noComencat.promocio>.nom {
    width: 110px;
}

@media screen and (max-width: 768px) {
	.info-banner.v_ord {
		display: flex !important;
	}

	.info-banner.v_mob {
		display: none !important;
	}
}

@media screen and (max-width: 575px) {
	.info-banner.v_ord {
		display: none !important;
	}

	.info-banner.v_mob {
		display: flex !important;
	}
}
